@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@layer base {
    *{
        @apply font-[Quicksand];
        @apply scroll-smooth;
    }

    li{
        @apply px-5;
        @apply justify-center;
        @apply items-center;
    }

}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover{
    background-image: linear-gradient(
    to right,
    rgba(112,157,255,0.8),
    hsla(242,74%,61%,0.8)
    )!important;
}